<div class="container">

<h1 class="medium-title">Enter your info!</h1>

<div class="content-container">

<%= form_for :taxpayer, url: estimated_tax_path do |f| %>

  <h3>Filing Status</h3>

  <div class="radio-buttons">
  <%= f.radio_button(:filing_status, "single", required: true) %>
  <%= label_tag(:single, "Single") %><br />
  <%= f.radio_button(:filing_status, "mfj", required: true) %>
  <%= label_tag(:mfj, "Married Filing Jointly") %><br />
  <%= f.radio_button(:filing_status, "mfs", required: true) %>
  <%= label_tag(:mfs, "Married Filing Separately") %><br />
  <%= f.radio_button(:filing_status, "head_of_household", required: true) %>
  <%= label_tag(:head_of_household, "Head of Household") %><br />
  <%= f.radio_button(:filing_status, "mfj", required: true) %>
  <%= label_tag(:mfj, "Qualifying Widow(er)") %><br />
  </div>

  <h3>Gross Income</h3>
  <%= f.number_field(:gross_income, in: 0.0..1000000000.0, step: 1.0, required: true) %>
  
  <br />
  <br />

  <%= f.submit "Calculate!" %>

<% end %>
<br />
<a href="/"><<</a>
</div>
</div>
